---
// Import stylesheets
---

<div class="card">
  <h2>What is a hackathon?</h2>
  <p>
    A hackathon is a social coding event where people can get together to make
    awesome projects, learn new skills, and make friends along the way. Everyone
    gets to showcase their creations with each other, with prizes for the best
    submissions!
  </p>
</div>
