---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Revolution | Revohacks</title>
	</head>
	<body class='bg-tan'>
		<div class='flex items-center justify-center flex-col'>
			<h1 class="text-5xl text-center font-bold">Revolution</h1>
			<h3 class='text-xl'><em>a UK hackathon running summer 2025</em></h3>
		</div>

		<div class="bg-light-brown rounded-md m-4 flex items-center justify-center flex-col p-4">
			<h2 class="text-3xl font-bold">What is Revolution?</h2>
			<p class="text-lg">Revolution is a hackathon that will be hosted in England in Summer of 2025. It will be a 48-hour Industrial Revolution themed event over 3 days where teenagers can build projects and learn new skills.</p>
			<h2 class="text-3xl font-bold">Where will Revolution be?</h2>
				<p class="text-lg">We're hoping to host Revolution at the 1830 Warehouse at the Museum of Science and Industry located in Manchester. We think that would be a cool venue because the world’s first inter city railway opened here in 1830 and was used for over 140 years making it a really interesting historical site and relating to the Industrial Revolution and steampunk theme. </p>
				<h2 class="text-3xl font-bold">I wanna come!</h2>
				<p class="text-lg">Awesome, please fill out <a class="underline" href='https://greatbritishhackoff.fillout.com/interest' target='_blank'>this form!</a></p>
				<h2 class="text-3xl font-bold">I wanna help!</h2>
				<p class="text-lg">Great! If you're a teen and want to help organise, please join the #revolution-bts channel on the <a class="underline" href='https://hackclub.com/slack' target='_blank'>Hack Club Slack</a>. If you want to sponsor us, please reach out to <a class="underline" href='mailto:sponsorships@revohacks.com' target='_blank'>sponsorships@revohacks.com</a> or <a class="underline" href='team@revohacks.com' target="_blank">team@revohacks.com</a> for anything else.</p>
				<h2 class="text-3xl font-bold">What are you doing with my data?</h2>
				<p class="text-lg">We do not have a privacy policy yet (it's in the works!) but we're only using your data to contact you about Revolution and to help us gauge interst based on location and the necessary costs of potential travel grants. If you have specific questions, please contact us. We won't share your data with anyone else outside of the organising team. If you want us to delete your data, email <a class="underline" href='mailto:team@revohacks.com' target='_blank'>team@revohacks.com</a>.</p>
			</div>

	</body>
</html>
