---
// Import stylesheets
import "./stylesheets/global.css";

// Import images for future use
import HackathonImage1 from "./images/hackathon1.jpg";
import HackathonImage2 from "./images/hackathon2.jpg";
import IDImage1 from "./images/AcceptedID.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/revohacks_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Revolution | Revohacks</title>

    <!--Font imports -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
    </style>
  </head>

  <body class="">
    <!--Top navigation bar -->
    <div class="navbar">
      <div class="navbar-content">
        <div></div>
        <ul class="navbar-links">
          <li><a href="" class="navbar-link">Home</a></li>
          <li>
            <a href="" class="navbar-link">Policys</a>
          </li>
          <li><a href="contact" class="navbar-link">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <!--Hero banner text-->

    <div class="hero">
      <div class="hero-intro">
        <h1 class="hero-title">Revolution</h1>
        <h2 class="hero-subtitle">A UK hackathon launching summer 2025</h2>
      </div>
    </div>

    <!--Intro paragraph -->

    <div class="intro-paragraph">
      <p class="intro-paragraph-text">
        In Summer 2025, we will host a 48 hour hackathon over the course of 3
        days, where teens can build awesome projects, learn new skills, and make
        lifelong friends along the way! Want to help us, or interested in
        attending? Scroll down for more info!
      </p>
      <a href="">Register your interest now!</a>
    </div>

    <div class="spacer-large"></div>

    <!--Detailed info section -->

    <div class="two-wide-card-grid">
      <div class="card">
        <h2>What is a hackathon?</h2>
        <p>
          A hackathon is a social coding event where people can get together to
          make awesome projects, learn new skills, and make friends along the
          way. Everyone gets to showcase their creations with each other, with
          prizes for the best submissions!
        </p>
      </div>

      <div class="card">
        <div class="image-wrapper">
          <img src={HackathonImage1.src} />
        </div>
      </div>
    </div>

    <!--Cards -->

    <div class="three-wide-card-grid">
      <div class="card card1">
        <h2>Where is Revolution?</h2>
        <p>
          We are currently at the stage of reaching out to various venues to see
          if they can accomodate us and if they have availability. We are
          interested in hosting Revoultion at MOSI, the home of the first
          passenger railway station, opened in 1803
        </p>
      </div>

      <div class="card card2">
        <h2>I'm interested in helping out, who do I contact?</h2>
        <p>
          If you are interested in helping out, from acting as event staff, to
          helping us plan and deliver Revolution, we would love to hear from
          you! You can drop us an email at hello@revohacks.com or send us a
          message via #revolution-bts over at the Hack Club slack
        </p>

        <p>
          We are looking for both 18+ and teen voulenteers to help us deliver
          the event!
        </p>
      </div>
    </div>

    <div class="two-wide-card-grid">
      <div class="card">
        <div class="image-wrapper">
          <img src={HackathonImage2.src} />
        </div>
      </div>

      <div class="card">
        <h2>Who can come?</h2>
        <p>
          As a high school hackathon, anyone aged 14-18 can attend, no matter
          your skill level and knowledge, we'd love to have you! We are also
          looking for voulenteers of all ages to help us deliver the event! No
          matter how you choose to attend, we will ensure you have a great time!
        </p>
      </div>
    </div>

    <div class="three-wide-card-grid">
      <div class="card card3">
        <h2>How can my company get in touch regarding sponsorship?</h2>
        <p>
          Looking to sponsor Revolution? Then we'd love to hear from you! We
          have a variety of opportunities for sponsors, from sponsored
          workshops, to your logo on our website, event swag, and more! Drop us
          an email at sponsorship@revohacks.com and we'll get back to you!
        </p>
      </div>

      <div class="card card4">
        <h2>I'm interested in attending, where do I sign up?</h2>
        <p>
          We love love to have you at Revolution! Please fill out <a
            href="https://greatbritishhackoff.fillout.com/interest">this form</a
          > and we can keep you updated with the latest news and updates regarding
          Revolution. We promise not to spam your inbox!
        </p>
      </div>

      <div class="card card5">
        <h2>How are you contributing to open source?</h2>
        <p>
          We recognise the benefits that open source can bring to the tech
          community at large. This website is open-source, and so are our
          planning documents! We will also encourage participants to open source
          their projects made during Revolution where possible!
        </p>
      </div>

      <div class="card card6">
        <h2>What are your commitments to safeguarding?</h2>
        <p>
          As an organisation who's primary audiance are under 18's, we have a
          number of important considerations to make. We will ensure all over
          18's in attendance are subject to stringent background checks, enforce
          100% checks on the door, establish 24/7 emergency hotlines, and so
          much more. You can find our full safeguarding policy <a
            href="https://docs.google.com/document/d/1-8Fxaj8vCaA4omEX4tDg6oBuM2ERXzz9shoWMULXNfE/edit?usp=sharing"
            >here</a
          >. Just so you know, we require either a Government Issued ID (such as
          a Passport, Driver's Licence, or MIL ID), or another photographic ID
          bearing the PASS hallmark. We will also accept select digital IDs.
        </p>
      </div>

      <div class="card card7">
        <!--<h2>I'm looking to travel by rail or plane, what help can I get?</h2>
        <p>
          We are exploring the possibility to offer travel grants for
          international participants travelling by rail and plane, or for UK
          residents looking to travel by rail! This will allow us to ensure
          there are no barriers to entry for Revolution! To apply, simply
          indicate you would like assistance on our sign up form!
        </p> -->
        <div class="image-wrapper">
          <img src={IDImage1.src} />
        </div>
      </div>

      <div class="card card8">
        <h2>I'm a parent and I have some questions!</h2>
        <p>
          We welcome all questions you may have, and endevour to answer them as
          quickly as possible! Please just reach out via hello@revohacks.com. We
          can answer any questions you may have, or offer 1-to-1 zoom meetings
          to discuss further if you would prefer!
        </p>
      </div>

      <div class="card card9">
        <h2>I have alergies / dietary requirements, how can you help me?</h2>
        <p>
          On the registration form sent to you, there will be a section to fill
          out any alergies or dietary requirements you may have! We will take
          that info and pass it on to our caterers to ensure everyone can enjoy
          a wide selection of food options!
        </p>
      </div>

      <div class="card card10">
        <h2>How will my data be handled?</h2>
        <p>
          In accordance with the UK Data Protection Act, we commit to the safe
          and secure handling of your data with regards to the data protection
          principles. All data is encrypted at rest and in transit, we only
          collect the data nessecary for the planning and execution of our
          event, and we ensure only the nessecary, trusted people have accsess
          to your data for the purposes set out in our data protection policy,
          which can be found <a href="">here</a>.
        </p>
      </div>
    </div>

    <footer>
      Revolution is fiscally sponsored by The Hack Foundation (d.b.a. Hack
      Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
    </footer>
  </body>
</html>
