---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Revolution | Revohacks</title>
	</head>
	<body class='bg-tan'>
		<div class='flex items-center justify-center flex-col'>
			<h1 class="text-5xl text-center font-bold">Revolution</h1>
			<h3 class='text-xl'><em>A UK hackathon running Summer 2025</em></h3>
		</div>

		<div>

		</div>
		
		<div class="">
			
		</div>
	
	</body>
</html>
